<div ng-include="'views/_header.html'"></div>

<!-- Login -->
<div class="container">
  <div class="h1">
    Suspicious Transaction Report #{{ txn.id }}
  </div>
  <a href="#/transactions">Back to list</a>
    <div class="kvpair">
      <span class="k">Exchange</span>
      <span class="v">{{ txn.exchange }}</span>
    </div>
    <div class="kvpair">
      <span class="k">Risk Category</span>
      <span class="v">{{ txn.category }}</span>
    </div>
    <div class="kvpair">
      <span class="k">Risk Level</span>
      <span class="v">{{ txn.risk | riskLevel }}</span>
    </div>
  <p>
    <h5>Trace:</h5>
    <ol>
      <li ng-repeat="t in trace">{{ t.address }} <span>{{ t.type | riskTrace }}</span></li>
    </ol>
  </p>

  <div class="graph-title">Transaction Graph:</div>
  <a href="{{txn.img}}">
    <img src="{{txn.img}}" class="graph"/>
  </a>

</div>

<div ng-include="'views/_footer.html'"></div>
