<div ng-include="'views/_header.html'"></div>

<!-- Login -->
<div class="container">
  <h1>Suspicious Transactions</h1>

  <div ng-repeat="client in clients" class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-left">{{ client }}</h4>
      </div>
      <div class="col-md-6">
        <h4 class="text-right">Score: {{ getClientScore(client) }}%</h4>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Transaction #</th>
          <th>Risk Category</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="txn in getClientTxns(client)" class="{{ txn.risk | riskClass }} text-left">
          <td>{{ txn.id }}</td>
          <td>{{ txn.category }}</td>
          <td><a ng-href="#/transactions/{{ txn.id }}">&gt;&gt;</a></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

<div ng-include="'views/_footer.html'"></div>
